
body {
    margin: 0px;
    /* padding: 0px; */
    background-color: rgb(29,29,31);
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    src: url(../public/fonts/Oswald-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(../public/fonts/Roboto-Thin.ttf);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    width: 100%;
    height: 500px;
    background-color: rgb(45,47,51);
    margin: 0px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
}

.menu-text {
    font-family: 'Oswald';
    margin-left: 15px;
    color: white;
}

.menu-text:hover {
    opacity: 0.9;
    cursor: pointer;
    border-radius: 4px;
    margin-top: -5px;
    color: rgb(111,244,168);
}

.content-social {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.content-social:hover {
    background-color: rgb(111,244,168);
    cursor: pointer;
}

.social-text {
    font-family: 'Roboto';
    font-size: 13px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

.social-text:hover {
    cursor: pointer;
}
.content-social-img-text {
    display: flex;
    flex-direction: row;
}

.content-social-img-text:hover {
    cursor: pointer;
}
.content-social-img-text:hover .social-text {
    color: rgb(111,244,168);
}
.content-social-img-text:hover .content-social{
    background-color: rgb(111,244,168);
}


.about {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 100%;
}

.content-img {
    width: 60%;
    margin: 0px;
    padding: 0px;
    align-items: center;
}


.about-text {
    width: 40%;
    margin-left: 100px;
    padding: 0px;  
    height: 100%;
}

.content {
    width: 100%;
    height: 500px;
    background-color: rgb(37,38,42);
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.backend {
    width: 100%;
    height: 100px;
    background-color: rgb(45,47,51);
    margin-top: 30px;
    display: flex;
    align-items: left;
    justify-content: center;
    margin-left: 10px;
   
}
.backend:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #1C1C1C;
}
.backend:hover .text-techs {
    color:rgb(111,244,168);
}

.backend:hover .text-techs-description {
    color:rgb(111,244,168);
}

.text-techs {
    font-family: 'Roboto'; 
    font-weight: bold; 
    font-size: 25px;
    color: white;
}

.text-techs:hover {
    color:rgb(111,244,168);
    cursor: pointer;
}

.text-techs-description {
    font-family: 'Roboto'; 
    font-weight: bold; 
    font-size: 13px;
    color: white;
    opacity: 0.6;
}

.text-techs-description:hover {
    cursor: pointer;
    color: rgb(111,244,168);
}
.frontend {
    width: 100%;
    height: 100px;
    background-color: rgb(45,47,51);
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
}

.frontend:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #1C1C1C;
}
.frontend:hover .text-techs {
    color:rgb(111,244,168);
}

.frontend:hover .text-techs-description {
    color:rgb(111,244,168);
}

.db {
    width: 100%;
    height: 100px;
    background-color: rgb(45,47,51);
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
}
.db:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #1C1C1C;
}
.db:hover .text-techs {
    color:rgb(111,244,168);
}

.db:hover .text-techs-description {
    color:rgb(111,244,168);
}

.projects {
    width: 100%;
    height: 100px;
    background-color: rgb(45,47,51);
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
}

.projects:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #1C1C1C;
}

.projects:hover .text-techs {
    color:rgb(111,244,168);
}

.projects:hover .text-techs-description {
    color:rgb(111,244,168);
}

@media screen and (max-width: 1199px) {
    .nav-bar {
        flex-direction: column;
    }
}